version: '3'
services:
    backend:
        ports:
            - "127.0.0.1:3000:3000"
        build: .
        volumes:
            - .:/home/mrb/projects/fsharp-webservice
        command: dotnet watch run
    fsharp-language-server:
        volumes:
            - .:/home/mrb/projects/fsharp-webservice
        build: .
        working_dir: /home/mrb/projects/fsharp-webservice
        command: ./fsharp-language-server
