version: '3'
services:
    backend:
        ports:
            - "127.0.0.1:3000:3000"
        build:
            context: .
            args:
                PROJECT_DIR: ${PROJECT_DIR}
        volumes:
            - .:${PROJECT_DIR}/fsharp-webservice
        command: bash -c 'dotnet run --project migrate && dotnet watch --project app run'

    fsharp-language-server:
        volumes:
            - .:${PROJECT_DIR}/fsharp-webservice
        build:
            context: .
            args:
                PROJECT_DIR: ${PROJECT_DIR}
        command: ./fsharp-language-server
    fsi:
        build:
            context: .
            args:
                PROJECT_DIR: ${PROJECT_DIR}
        volumes:
            - .:${PROJECT_DIR}/fsharp-webservice
        command: fsharpi
    database:
        image: postgres:11
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: todo
            POSTGRES_PASSWORD: todo
